.custom-container {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
}

/* Hero Section - 75% */
.hero-section {
  flex: 3;
}

/* News Section - 25% */
.news-section {
  flex: 1;
  height: 550px;
  overflow: hidden;
}

/* Media query for small screens (mobile) */
@media (max-width: 768px) {
  .custom-container {
    flex-direction: column;
  }

  .hero-section,
  .news-section {
    flex: unset;
    width: 100%;
  }
}
